<div
  class="absolute top-1/4 inset-x-0 mx-auto w-max justify-center items-center"
>
  <div class="relative w-16 inset-x-0 mx-auto flex items-center justify-center">
    <img class="w-16" src="assets/avatar.webp" />
    <img class="w-7 absolute bottom-0 right-0" src="assets/camera.svg" />
  </div>
  <div class="mt-6 flex justify-center gap-4">
    <button mat-raised-button color="accent" (click)="goGallery('situ')">
      学校活动
    </button>
    <button mat-raised-button color="primary" (click)="goGallery('life')">
      日常生活
    </button>
  </div>
</div>
<div class="absolute bottom-0 inset-x-0 mx-auto w-max text-2xl">
  v2.6&emsp;2024.3.28
</div>
