<lg-navbar [title]="title"></lg-navbar>
<div class="pt-16">
  <div *ngIf="mediaGroups == {}">
    <p class="text-2xl">载入中....</p>
  </div>
  <div
    #imageGrid
    *ngFor="let group of mediaGroups | keyvalue : reverseOrder"
    class="m-auto justify-center"
  >
    <div
      class="p-2 sticky top-0 z-10 bg-white"
      (click)="toggleVisibility(group.key)"
    >
      <span>{{ date(group.key) }}</span>
      <span *ngIf="getDateImageAmount(group.key) as imageAmount" class="text-sm"
        >🖼️{{ imageAmount }}x图片
      </span>
      <span *ngIf="getDateVideoAmount(group.key) as videoAmount" class="text-sm"
        >🎬{{ videoAmount }}x视频
      </span>
      <span class="p-2 text-sm hover:bg-slate-300" *ngIf="!isVisible(group.key)"
        >▼展开</span
      >
      <span class="p-2 text-sm hover:bg-slate-300" *ngIf="isVisible(group.key)"
        >△收起</span
      >
    </div>
    <div class="img-grid" *ngIf="isVisible(group.key)">
      <div
        class="relative cursor-pointer grid-item"
        *ngFor="let media of getMediasByDate(group.key); index as i"
        (click)="openViewer(group.key, i)"
      >
        <img
          class="w-48 h-32 object-cover object-center"
          [defaultImage]="defaultImageUrl"
          [lazyLoad]="getImageUrl(media)"
          loading="lazy"
        />
        <div
          *ngIf="isVideo(media)"
          class="absolute bottom-2 left-2 w-1/2 text-white bg-opacity-70 bg-black text-2xs rounded-3xl pl-1 pr-2"
        >
          ▶{{ getVideoDuration(media) }}
        </div>
      </div>
    </div>
  </div>
</div>
<lg-media-viewer
  *ngIf="isDisplayViewer"
  [(isDisplayViewer)]="isDisplayViewer"
  (onClose)="onCloseViewer()"
  [date]="dateViewingNow"
  [medias]="mediasBeingViewed"
  [index]="viewerIndex"
  [albumName]="albumName"
></lg-media-viewer>
