<div
  class="text-2xs leading-none text-white flex flex-wrap items-center"
  *ngIf="exif"
>
  <img src="assets/icon/camera.svg" class="w-4" />
  <div>{{ cameraMake() }}</div>
  <img src="assets/icon/lens.svg" class="w-4" />
  <div>{{ exif.lens }}</div>
  <img src="assets/icon/aperture.svg" class="w-4" />
  <div>F{{ exif.av }}</div>
  <img src="assets/icon/shutter.svg" class="w-4" />
  <div>{{ exif.tv }}</div>
  <img src="assets/icon/iso.svg" class="w-4" />
  <div>{{ exif.iso }}</div>
  <img src="assets/icon/focal_len.svg" class="w-4" />
  <div>{{ focalLen() }}mm</div>
  @if(exif.exp_cp !== '0'){
  <img src="assets/icon/exp_cp.svg" class="w-4" />
  <div>{{ exif.exp_cp }}</div>
  } @if(exif.flash.startsWith("fired")){
  <img src="assets/icon/flash.svg" class="w-4" />
  <div>闪</div>
  }
</div>
