/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'circular';
  src: url('./assets/CircularStd-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: circular, system-ui;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { height: 100%; } 
/* CSS for OverlayComponent */
.gallery { 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000; /* Make sure it's on top */
}
.album {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000; /* Make sure it's on top */
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000; /* Make sure it's on top */
}
