<style>
  .img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(128px, 1fr));
    grid-gap: 0.5px;
  }
</style>
<mat-toolbar>
  <button
    (click)="back()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon
      ><span class="material-symbols-outlined"> arrow_back </span></mat-icon
    >
  </button>
  <span>{{ title }}</span>
</mat-toolbar>
<!-- 
<div *ngFor="let day of getDays(gallery.medias)">
  <h2>{{ day | date : "yyyy.MM.dd" }}</h2> -->
<div class="img-grid">
  @for (media of gallery.medias; track media; let i = $index) {
  <img
    class="w-36 h-32 object-cover object-center"
    src="{{ imgPreview(media) }}"
    (click)="openViewer(i, media)"
  />
 
  }
</div>
<div *ngIf="displayViewer">
    <lg-media-viewer [medias]="medias" [index]="index" (mediaViewerToggled)="displayViewer = $event"></lg-media-viewer>
</div>
<!-- </div> -->
