<div class="fixed top-0 left-0 w-full h-full bg-black z-20">
  <!-- 关闭按钮 -->

  <!-- 顶部 -->
  <div class="flex z-20">
    <button class="text-2xl" (click)="close()">◀️</button>
    <!-- 文件名 尺寸 -->
    <div class="text-2xs leading-none text-white">
      {{ title }}
    </div>
  </div>
  <swiper-container init="false">
    <!-- Slides *ngIf="isImage(media)" -->
    <swiper-slide *ngFor="let media of medias">
      <div class="swiper-zoom-container">
        <img
          id="img_{{ media.size }}"
          [src]="mediaUrl(media, false)"
          *ngIf="!isVideoLoaded"
          class="block mx-auto object-contain h-[95vh]"
          loading="lazy"
        />
      </div>
      <video
        #videoPlayer
        controls
        crossorigin
        playsinline
        *ngIf="isVideo(media) && isVideoLoaded"
        [src]="mediaUrl(media, true)"
        class="block mx-auto object-contain h-[95vh]"
        loading="lazy"
      ></video>
      <div
        class="absolute left-1/2 bottom-0 transform -translate-x-1/2 text-center text-white mb-1 bg-opacity-70 bg-black"
      >
        <button
          class="m-1"
          *ngIf="isImage(media) && !isOriginalLoaded"
          (click)="loadOriginal(media)"
        >
          💾原图{{ fullImageSize }}
        </button>
        <button
          class="m-1"
          *ngIf="isVideo(media) && !isVideoLoaded"
          (click)="playVideo(media)"
        >
          ⏯️播放视频&emsp;流量消耗：每秒{{ bitrate }}
        </button>
        <!-- <button
          class="m-1"
          *ngIf="isVideo(media) && isVideoLoaded && !mediaRecorder"
          (click)="startRecording()"
        >
          ⏺️原画录屏
        </button>
        <button
          class="m-1"
          *ngIf="isVideo(media) && isVideoLoaded && mediaRecorder"
          (click)="stopRecording()"
        >
          ⏹️停止录屏
        </button> -->
        <button class="m-1" *ngIf="scaleRatio > 1" (click)="scaleOut()">
          🔎缩小
        </button>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- <div class="absolute bottom-0 text-center text-white mb-1 w-full">
    <button *ngIf="this.index > 0" class="float-left" (click)="prev()">
      ⬅️上一张</button
    >&emsp;
    <button
      *ngIf="this.now !== undefined && isImageNow() && !isOriginalLoaded"
      (click)="loadOriginal()"
    >
      💾 查看原图 {{ fullImageSize }}</button
    >&emsp;
    <button
      *ngIf="this.index < this.medias.length - 1"
      class="float-right"
      (click)="next()"
    >
      下一张➡️</button
    >&emsp;
  </div> -->
</div>
