<div class="w-full h-full bg-black">
    <!-- 顶部 -->
    <div class="">
        <!-- 关闭按钮 -->
        <button class="text-xl float-start" (click)="close()">◀️</button>
        <!-- 文件名 尺寸 -->
        <span class="text-2xs leading-none text-white">
            {{ title }}
        </span>
    </div>
    <img *ngIf="isImageNow()" [src]="displayingUrl"
        class="block mx-auto object-contain h-[90vh]" />
    <video controls crossorigin playsinline *ngIf="isVideoNow()"
    [src]="displayingUrl" class="block mx-auto object-contain h-[90vh]"></video>
    <div class="block text-center text-white w-full">
        <button (click)="prev()">⬅️上一张</button>&emsp;
        <button *ngIf="isImageNow() && !isOriginalLoaded" (click)="loadOriginal()">💾查看原图{{ size }}</button>&emsp;
        <button (click)="next()">下一张➡️</button>&emsp;
    </div>
</div>